<li class="list-item-opensource">
  <h2 class="list-item-opensource__title">
    <a href="{{ include.item.external_url }}">{{ include.item.title }}</a>
  </h2>
  <span class="list-item-opensource__meta">
    <span class="list-item-opensource__icon" aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"/><path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Z"/></svg>
    </span>
    Issue · {{ include.item.date | date: "%b %-d, %Y" }} · {{ include.item.project }}
  </span>
</li>
