.layout-post {
  display: flex;
  flex-direction: column;
  row-gap: var(--header-content-gap);
  max-width: 44rem;
  margin: var(--margin-vertical) auto;
  padding-left: var(--margin);
  padding-right: var(--margin);
}

@media (min-width: 64rem) {
  .layout-post {
    display: grid;
    grid-template-columns: 36rem 24rem;
    grid-template-rows: auto min-content 2rem 1fr;
    grid-template-areas:
      "header header"
      "content badges"
      "content ."
      "content navigation";
    column-gap: 4rem;
    row-gap: 0;
    align-items: start;
    max-width: 64rem;
    padding-left: 0;
    padding-right: 0;
  }

  .layout-post__header {
    margin-bottom: var(--header-content-gap);
  }

  .layout-post__footer {
    margin-top: 2rem;
  }
}

.layout-post__header {
  grid-area: header;
}

.layout-post__content {
  grid-area: content;
  min-width: 0;
  font-size: var(--f12);
}

.layout-post__content img,
.layout-post__content video {
  max-width: 100%;
  height: auto;
}

.layout-post__content iframe {
  max-width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
}

.layout-post__navigation {
  grid-area: navigation;
}

.layout-post__footer-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 0 2px grey;
}

.layout-post__footer-link {
  font-size: var(--f10);
}

.layout-post__bookmark {}

.layout-post__bookmarkHeading {
  margin: 0 0 1rem 0;
}

.layout-post__bookmarkLink {
  font-size: var(--f12);
}

.layout-post__bookmarkDescription {
  font-size: var(--f12);
  margin: 0;
  padding: 0 0 0 1.5rem;
  border-left: 2px solid #ccddee;
  font-style: italic;
}

.layout-post__bookmarkMeta {
  margin-top: 1rem;
}

.layout-post__bookmarkSeparator {
  margin-bottom: 4rem;
}